html{
  font-size: 10px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

*{
  transition: all .5s;
}

a{
  text-decoration: none;
  color: #FFFFFF;
}

body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0px;
}

.wrapper{
  max-width: 1020px;
  margin: auto;
  }

/*Header*/

.wrapper_header{
  background: #2D303A;
  border-bottom: 0.6rem solid #323746; 
}

.burger{
  display: none;
}

.header__wrapper{
  display: flex;
  justify-content: space-between; 
  align-items: center;
  padding-left: 4rem;
  padding-right: 4rem; 
}

.logo{
  font:normal 2.5rem Lato;
  color: #FFFFFF;
  letter-spacing: -0.03em;
  padding-top: 0.2rem;
  padding-bottom: 1.2rem;
  cursor: pointer;
}

.logo_star{
  color:#F06C64;
}

.navigation_pages{
  display: flex;
  flex-direction: row;
  gap: 3.31rem;
  justify-content: space-evenly;
  font:normal bold 1.2rem Lato;
  color: #FFFFFF;
  letter-spacing: -0.035em;
  cursor: pointer;
}

a:hover{
  color:#F06C64;
}

.focus{
  color:#F06C64;
}

.navigation_pages li:nth-child(1){
  list-style: none;
}

/* Slider*/

.wrapper_slide{
  background: #F06C64;
  border-bottom: .6rem solid #EA676B;
}
.slide__wrapper{
  position: relative;
  width: 100%;
}
.slide__wrapper__phone1{
   overflow: hidden;
}  
.reverse{
  display: flex;
  flex-direction: row-reverse;
}

.slider__wrapper {
  display: flex;
  flex-direction: row;
  transform: translateX(-100%);
    transition: transform .5s;
}

.slider__wrapper-disabled {
  transition: none;
    /* transform: translateX(-100%); */
}

/* .slider__wrapper-enabled {
  transition: transform .5s;
} */

.slider__image{
  width: 100%;
  height: 100%;
  display: inline-flex;
}

.run_slide_left{
  transform: translateX(-100%);
  transition: all 4s; 
  display: inline;
}

.run_slide_right{
  transform: translateX(100%);
  transition: all 4s; 
  display: inline;
} 

.arrow{
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.img_ar_left{
  width: 100%;
}
.img_ar_right{
  width: 100%;
}

.arrow_left{
  margin-left: 4%;
}

.arrow_right{
  margin-right: 4%;
}

.arrow_right,
.arrow_left{
  cursor: pointer;
} 

.arrow_right:hover{
  transform: scale(1.3);
}

.arrow_left:hover{
  transform: scale(1.3);
}

/*Our Service*/

.wrapper_service{
  background: #F2F2F2;
  border-bottom: .6rem solid #FFFFFF;
}
.service__wrapper{
  padding-right: 4rem;
  padding-left: 4rem;
}
.card_content_text{
  display: flex;
  flex-direction: column;
}
.card_content{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.service_card{
  display: grid;
  grid-template-columns: repeat( auto-fit, 30rem);
  justify-content: space-around;
  grid-gap: 2rem;
  padding-top: 2.85rem;
  padding-bottom: 4.45rem;
  margin: 0;
}

.service_title,
.portfolio_title{
  font: normal 3rem Lato;
  font-weight: 900;
  line-height: 3.6rem;
  letter-spacing: 0.01em;
  color: #666D89;
  padding-top: 5.9rem;
  margin: 0;
  text-align: justify;
}
.service_description{
  font: normal 1.8rem Lato;
  font-weight: 300;
  line-height: 3rem;
  color: #767E9E;
  margin-bottom: 1.8rem;
  text-align: left;
  letter-spacing: -0.004rem;
}
.card__title{
  font:normal 1.8rem Lato;
  font-weight: 900;
  line-height: 1.8rem;
  text-align: justify;
  letter-spacing: 0.021em;
  color: #666D89;
  margin: 0;
}
.card__discription{
  font:normal 1.2rem Lato;
  font-weight: normal;
  text-align: justify;
  line-height: 2.2rem;
  color: #767E9E;
  width: 22rem;
  height: 7.7rem;
  margin-bottom: 0;
  margin-top: 1rem;
  overflow:hidden;
}


/* Portfolio */

.wrapper_portfolio{
  background: #2D303A;
  border-bottom: .6rem solid #323746;
}
.portfolio__wrapper{
  margin-right: 4rem;
  margin-left: 4rem;
}

.portfolio__description{
  font: normal 1.8rem Lato;
  font-weight: 300;
  line-height: 3rem;
  color: #767E9E;
  margin-bottom: 1.3rem;
}

.portfolio_buttons{
  display: flex;
  flex-direction: row;
  padding-left:0 ;
  margin: 0px; 
}

.portfolio_buttons>*{
  display: flex;
  flex-direction: row;
  border: 1px solid #767E9E;
  color: #767E9E;
  font: normal 1.2rem Lato;
  font-weight: normal;
  line-height: 2rem;
  border-radius: 5px;
  margin-right: 1.05rem;
  padding-left: .6rem;
  padding-right: .6rem;
  cursor: pointer;
}

.tag_selected {
  color: #DEDEDE;
  border-color:  #DEDEDE ;
} 

.tag_tag{
  color: #DEDEDE;
  border-color:  #DEDEDE ;
}

.portfolio_images>*:nth-child(n+13) { 
  display: none; 
}

.portfolio_images{
  display: grid;
  grid-template-columns: repeat(auto-fit, 23.37%);
  grid-template-rows: 1fr 1fr 1fr; 
  align-items: center;
  grid-gap: 2rem;
  margin-top: 1.8rem;
  padding-bottom: 6.8rem;
}

.image{
  width: 100%;
} 

.shuffle{
  order: +1;
}

/*Footer*/
.wrapper_footer{
  background: #2D303A;
}

.footer_text{
  font: normal 1.3rem Lato;
  font-weight: 900;
  line-height: 1.8rem;
  color: #666D89;
  margin-left: 4rem;
}

.footer_content{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 7.6rem;
}

.footer_social_buttons{
  margin-right: 4rem;
}

.social_buttons{
  padding-left: 0.8rem;
}

@media screen and (max-width: 1019px){
  .wrapper{
    padding-left: 0;
    padding-right: 0;
  }
  .portfolio__wrapper{
    margin-right: 4rem;
    margin-left: 4rem;
  }
  .portfolio_images{
    grid-template-columns: repeat( auto-fit, 31.4%);
    grid-template-rows: 1fr 1fr 1fr 1fr; 
    grid-gap: 1.9rem;
    margin-top: 2.8rem;
    padding-bottom: 7.3rem;
  }
}
@media screen and (max-width: 767px){
  .navigation{
    display: none;
  } 

  .body{
    position: relative;
  }

  .header__wrapper{
    position: relative;
    justify-content: center; 
  }

  .logo{
    font:normal 2rem Lato;
    color: #FFFFFF;
    letter-spacing: -0.03em;
    padding-top: 1rem;
    padding-bottom: 0.2rem;
    cursor: pointer;
  }
  
  .sideways{
    display: inline;
    position: fixed;
    top:0;
    left:0;
    z-index: 1;
    width: 70%;
    background: #2D303A;
    padding-left: 0;
    height: 100%;
    box-shadow: 456px 0px 74px 295px rgba(0, 0, 0, 0.5);
    transition: all 1s;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
  }
  .navigation_pages{
    display: flex;
    flex-direction: column;
    position: fixed;
    list-style: none;
    font: normal bold 2.4rem Lato;
    line-height: 29px;
    letter-spacing: -0.035em;
  }
  
  .burger{
    display: inline-block;
    position: absolute;
    z-index: 2;
    top:2.6rem;
    left: 2rem;
    cursor: pointer;
  }

  .active{
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
  }

  .portfolio_buttons>*{
    padding-left: .4rem;
    padding-right: .4rem;
  }
 
  .portfolio_images{
    grid-template-columns: repeat( auto-fit, 47%);
    grid-template-rows: 1fr 1fr 1fr 1fr; 
    column-gap: 1.3rem;
    row-gap: 1.4rem;
  }

  .portfolio_images>*:nth-child(n+9) { 
    display: none; 
  }

  .footer_text{
    display: none;
  }
  .footer_content{
    justify-content: center;
  }
}


/*  375px <= width <= 767px*/


@media screen and (max-width: 375px){
  .wrapper{
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .burger{
    position: absolute;
    left: 0rem;
  }

  .service_card{
    grid-template-columns: 1fr ; 
  }
  
  .service_card_icon{
    padding-right: 1rem;
  }
  .service__wrapper{
    padding-left: 1rem;
    padding-right: 0rem;
  }

  .portfolio__wrapper{
    margin-right: 0;
    margin-left: 1rem;
  }
  .portfolio_buttons>*{
    margin-right: 0.85rem;
    padding-left: .1rem;
    padding-right: .1rem;
  }
  .portfolio_images{
    grid-template-columns: repeat(auto-fit, 45%);
    grid-template-rows: 1fr 1fr 1fr 1fr; 
    grid-gap: 1.4rem;
    margin-top: 2.5rem;
    padding-bottom: 4.2rem;
  }

  .arrow_left{
    margin-left: 1%;
  }
  .arrow_right{
    margin-right: 1%;
  }
} 